body {
  background-image: url("/img/pokeball.jpg");
  font-family: 'Segoe UI', sans-serif;
}

p{
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  color: rgba(34, 5, 148, 0.833);
  font-size: 80px;
  animation: moveLetters 5s infinite;
}

.main__container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 3%;
}

.first__pokemon__container .second__pokemon__container {
  border-radius: 20%;
  width: 10%;
}

@keyframes moveLetters {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}
